.h-35 {
    height: 35% !important;
}

.h-60 {
    height: 60% !important;
}

.fb_iframe_widget span {
    vertical-align: baseline !important;
}

.belarus-wrw-gr {
    background-image: url(/by_flag_custom.png);
    width: 44px !important;
}

i.flag.belarus-wrw-gr:before, i.flag.belarus-wrw-gr:before {
    background-position: 0 -858px
}
