<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark unique-color">
    <a class="navbar-brand text-uppercase" href="/">FREE DRNG COVID19</a>

    <ul class="navbar-nav mr-auto justify-content-center">
      <li class="nav-item" th:each="c: ${categories}">
        <a class="nav-link" th:href="@{/list(category=${c})}" th:text="${c.name}"></a>
      </li>
    </ul>
  </nav>
  <p>
</header>
</body>
</html>
