<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark unique-color">
    <a class="navbar-brand text-uppercase" href="#">FREE DRNG COVID19</a>

    <ul class="navbar-nav mr-auto justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#">ОБРАЗОВАНИЕ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">МУЗЫКА</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">КИНО</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">КНИГИ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">БИЗНЕС</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ЗДОРОВЬЕ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">СПОРТ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ВСЁ СРАЗУ</a>
      </li>
    </ul>
  </nav>
  <p>
</header>
</body>
</html>
