<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
  <header th:replace="fragments/header :: header"></header>

  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron pb-2">
        <h3 class="display-5">Привет, @username!</h3>
        <p class="lead">На freeDuringCovid19.site ты найдешь десятки сервисов, которые открыли бесплатный доступ к своим
          ресурсам из-за пандемии коронавируса <i class="fas fa-viruses"></i></p>
        <p>Переживи пандемию с пользой или, как минимум, без скуки!</p>
        <hr class="my-3">
        <p>Если знаешь ресурс, который стал бесплатным, но его нет в этом списке, напиши мне и я его добавлю. То же про ошибки и неполадки. </p>
        <p class="font-weight-bold"> Почта: aflamma@yandex.com </p>
        <a class="btn-floating btn-fb" type="button" role="button" href="http://m.me/alinakisialiova" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a class="btn-floating btn-vk" type="button" role="button" href="https://vk.me/id110827031" target="_blank"><i class="fab fa-vk"></i></a>
        <a class="btn-floating btn-ins" type="button" role="button" href="https://www.instagram.com/blrirlbajki/" target="_blank"><i class="fab fa-instagram"></i></a>
        <hr class="my-3">
        <div class="d-flex">
          <div class="m-1">
            <div id="fb-root"></div>
              <div class="fb-share-button" data-href="http://freeduringcovid19.site" data-layout="button_count" data-size="small">
                <a type="button" role="button" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ffreeduringcovid19.site%2F&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">Поделиться</a>
              </div>
          </div>
          <div class="m-1">
            <a type="button" role="button" target="_blank"> <script type="text/javascript">document.write(VK.Share.button(false, {type: 'button', text: 'Поделиться'}));</script></a>
          </div>
          <div class="m-1">
            <a  type="button" role="button" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="true">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h4>
        <span class="badge badge-warning">Недавно добавленные</span>
      </h4>
      <p>
    </div>
  </div>

  <div class="row row-cols-2 row-cols-xl-3 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <div class="col mb-4" th:each="website: ${recentlyAdded}">
      <div class="card h-100">
        <span class="badge badge-warning" th:text="${website.category.name}"/>
        <div class="view overlay h-35">
          <img class="card-img-top h-100" th:src="${website.iconLink}">
          <a th:href="${website.link}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body d-flex flex-column">
            <p class="card-title">
              <span class="h5" th:text="${website.name}"/>
              <span th:if="${website.expired != null}" class="badge badge-warning float-right">до
                <span th:text="${#temporals.format(website.expired, 'dd.MM.yyyy')}"/>
              </span>
            </p>
          <p class="card-text" th:text="${website.description}"></p>
          <a th:href="${website.link}" type="button"
             class="btn btn-warning btn-rounded btn-md font-weight-bold mt-auto" target="_blank">Перейти</a>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>
