<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
  <header th:replace="fragments/header :: header"></header>

  <div class="row">
    <div class="col-sm-12">
      <div class="jumbotron">
        <h3 class="display-5">Привет, @username!</h3>
        <p class="lead">На freeDuringCovid19.by ты найдешь десятки сервисов, которые открыли бесплатный доступ к своим
          ресурсам из-за пандемии коронавируса.</p>
        <p>Переживи пандемию с пользой или, как минимум, без скуки!</p>
        <hr class="my-3">
        <p>Если знаешь ресурс, который стал бесплатным, но его нет в этом списке, напиши мне и я его добавлю.</p>
        <p class="font-weight-bold"> Почта: aflamma@yandex.ru </p>
        <a class="btn-floating btn-tw btn-ins" type="button" role="button" href="https://www.instagram.com/blrirlbajki/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a class="btn-floating btn-tw btn-fb" type="button" role="button" href="https://www.facebook.com/alina.kisialiova" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a class="btn-floating btn-tw btn-vk" type="button" role="button" href="https://vk.com/id110827031" target="_blank"><i class="fab fa-vk"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h4>
        <span class="badge badge-warning">Недавно добавленные</span>
      </h4>
      <p>
    </div>
  </div>

  <div class="row row-cols-2 row-cols-md-3 row-cols-xl-3 row-cols-sm-1">
    <div class="col mb-4" th:each="website: ${recentlyAdded}">
      <div class="card h-100">
        <span class="badge badge-warning" th:text="${website.category.name}"/>
        <div class="view overlay h-35">
          <img class="card-img-top h-100" th:src="${website.iconLink}">
          <a th:href="${website.link}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title" th:text="${website.name}"></h4>
          <p class="card-text h-60" th:text="${website.description}"></p>
          <a th:href="${website.link}" type="button"
             class="btn btn-warning btn-rounded btn-md font-weight-bold">Перейти</a>
        </div>
      </div>
    </div>
  </div>
  <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>
